# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-64
anyio=2.2.0=py39h6e9494a_0
appnope=0.1.2=py39h6e9494a_1
argon2-cffi=20.1.0=py39hcbf5805_2
async_generator=1.10=py_0
attrs=20.3.0=pyhd3deb0d_0
babel=2.9.0=pyhd3deb0d_0
backcall=0.2.0=pyh9f0ad1d_0
backports=1.0=py_2
backports.functools_lru_cache=1.6.1=py_0
blas=1.0=openblas
bleach=3.3.0=pyh44b312d_0
brotlipy=0.7.0=py39hcbf5805_1001
ca-certificates=2020.12.5=h033912b_0
cah=2021.1=dev_0
certifi=2020.12.5=py39h6e9494a_1
cffi=1.14.5=py39h319c39b_0
chardet=4.0.0=py39h6e9494a_1
click=7.1.2=pyh9f0ad1d_0
cryptography=3.4.6=py39ha2c9959_0
dataclasses=0.8=pyhc8e2a94_1
decorator=4.4.2=py_0
defusedxml=0.7.1=pyhd8ed1ab_0
entrypoints=0.3=pyhd8ed1ab_1003
filelock=3.0.12=pyh9f0ad1d_0
gtts=2.2.2=pypi_0
idna=2.10=pyh9f0ad1d_0
importlib-metadata=3.7.3=py39h6e9494a_0
ipykernel=5.5.0=py39h71a6800_1
ipyparallel=6.3.0=py39hecd8cb5_0
ipython=7.21.0=py39h71a6800_0
ipython_genutils=0.2.0=py_1
jedi=0.18.0=py39h6e9494a_2
jinja2=2.11.3=pyh44b312d_0
joblib=1.0.1=pyhd8ed1ab_0
json5=0.9.5=pyh9f0ad1d_0
jsonschema=3.2.0=pyhd8ed1ab_3
jupyter-packaging=0.7.12=pyhd8ed1ab_0
jupyter_client=6.1.12=pyhd8ed1ab_0
jupyter_core=4.7.1=py39h6e9494a_0
jupyter_server=1.5.1=py39h6e9494a_0
jupyterlab=3.0.12=pyhd8ed1ab_0
jupyterlab_pygments=0.1.2=pyh9f0ad1d_0
jupyterlab_server=2.3.0=pyhd8ed1ab_0
libcxx=11.1.0=habf9029_0
libedit=3.1.20191231=h1de35cc_1
libffi=3.3=hb1e8313_2
libgfortran=3.0.1=h93005f0_2
libopenblas=0.3.10=h0794777_0
libsodium=1.0.18=hbcb3906_1
markupsafe=1.1.1=py39hcbf5805_3
mistune=0.8.4=py39hcbf5805_1003
nbclassic=0.2.6=pyhd8ed1ab_0
nbclient=0.5.3=pyhd8ed1ab_0
nbconvert=6.0.7=py39h6e9494a_3
nbformat=5.1.2=pyhd8ed1ab_1
ncurses=6.2=h0a44026_1
nest-asyncio=1.4.3=pyhd8ed1ab_0
notebook=6.3.0=py39h6e9494a_0
numpy=1.19.2=py39h0fa1045_0
numpy-base=1.19.2=py39h3a452eb_0
openssl=1.1.1k=h0d85af4_0
packaging=20.9=pyh44b312d_0
pandas=1.2.3=py39hb2f4e1b_0
pandoc=2.13=h0d85af4_0
pandocfilters=1.4.2=py_1
parso=0.8.1=pyhd8ed1ab_0
pexpect=4.8.0=pyh9f0ad1d_2
pickleshare=0.7.5=py_1003
pip=21.0.1=py39hecd8cb5_0
prometheus_client=0.9.0=pyhd3deb0d_0
prompt-toolkit=3.0.18=pyha770c72_0
ptyprocess=0.7.0=pyhd3deb0d_0
pycparser=2.20=pyh9f0ad1d_2
pygame=2.0.0=pypi_0
pygments=2.8.1=pyhd8ed1ab_0
pyobjc=7.2=pypi_0
pyobjc-core=7.2=pypi_0
pyobjc-framework-accessibility=7.2=pypi_0
pyobjc-framework-accounts=7.2=pypi_0
pyobjc-framework-addressbook=7.2=pypi_0
pyobjc-framework-adservices=7.2=pypi_0
pyobjc-framework-adsupport=7.2=pypi_0
pyobjc-framework-applescriptkit=7.2=pypi_0
pyobjc-framework-applescriptobjc=7.2=pypi_0
pyobjc-framework-applicationservices=7.2=pypi_0
pyobjc-framework-apptrackingtransparency=7.2=pypi_0
pyobjc-framework-authenticationservices=7.2=pypi_0
pyobjc-framework-automaticassessmentconfiguration=7.2=pypi_0
pyobjc-framework-automator=7.2=pypi_0
pyobjc-framework-avfoundation=7.2=pypi_0
pyobjc-framework-avkit=7.2=pypi_0
pyobjc-framework-businesschat=7.2=pypi_0
pyobjc-framework-calendarstore=7.2=pypi_0
pyobjc-framework-callkit=7.2=pypi_0
pyobjc-framework-cfnetwork=7.2=pypi_0
pyobjc-framework-classkit=7.2=pypi_0
pyobjc-framework-cloudkit=7.2=pypi_0
pyobjc-framework-cocoa=7.2=pypi_0
pyobjc-framework-collaboration=7.2=pypi_0
pyobjc-framework-colorsync=7.2=pypi_0
pyobjc-framework-contacts=7.2=pypi_0
pyobjc-framework-contactsui=7.2=pypi_0
pyobjc-framework-coreaudio=7.2=pypi_0
pyobjc-framework-coreaudiokit=7.2=pypi_0
pyobjc-framework-corebluetooth=7.2=pypi_0
pyobjc-framework-coredata=7.2=pypi_0
pyobjc-framework-corehaptics=7.2=pypi_0
pyobjc-framework-corelocation=7.2=pypi_0
pyobjc-framework-coremedia=7.2=pypi_0
pyobjc-framework-coremediaio=7.2=pypi_0
pyobjc-framework-coremidi=7.2=pypi_0
pyobjc-framework-coreml=7.2=pypi_0
pyobjc-framework-coremotion=7.2=pypi_0
pyobjc-framework-coreservices=7.2=pypi_0
pyobjc-framework-corespotlight=7.2=pypi_0
pyobjc-framework-coretext=7.2=pypi_0
pyobjc-framework-corewlan=7.2=pypi_0
pyobjc-framework-cryptotokenkit=7.2=pypi_0
pyobjc-framework-devicecheck=7.2=pypi_0
pyobjc-framework-dictionaryservices=7.2=pypi_0
pyobjc-framework-discrecording=7.2=pypi_0
pyobjc-framework-discrecordingui=7.2=pypi_0
pyobjc-framework-diskarbitration=7.2=pypi_0
pyobjc-framework-dvdplayback=7.2=pypi_0
pyobjc-framework-eventkit=7.2=pypi_0
pyobjc-framework-exceptionhandling=7.2=pypi_0
pyobjc-framework-executionpolicy=7.2=pypi_0
pyobjc-framework-externalaccessory=7.2=pypi_0
pyobjc-framework-fileprovider=7.2=pypi_0
pyobjc-framework-fileproviderui=7.2=pypi_0
pyobjc-framework-findersync=7.2=pypi_0
pyobjc-framework-fsevents=7.2=pypi_0
pyobjc-framework-gamecenter=7.2=pypi_0
pyobjc-framework-gamecontroller=7.2=pypi_0
pyobjc-framework-gamekit=7.2=pypi_0
pyobjc-framework-gameplaykit=7.2=pypi_0
pyobjc-framework-imagecapturecore=7.2=pypi_0
pyobjc-framework-imserviceplugin=7.2=pypi_0
pyobjc-framework-inputmethodkit=7.2=pypi_0
pyobjc-framework-installerplugins=7.2=pypi_0
pyobjc-framework-instantmessage=7.2=pypi_0
pyobjc-framework-intents=7.2=pypi_0
pyobjc-framework-iosurface=7.2=pypi_0
pyobjc-framework-ituneslibrary=7.2=pypi_0
pyobjc-framework-kernelmanagement=7.2=pypi_0
pyobjc-framework-latentsemanticmapping=7.2=pypi_0
pyobjc-framework-launchservices=7.2=pypi_0
pyobjc-framework-libdispatch=7.2=pypi_0
pyobjc-framework-linkpresentation=7.2=pypi_0
pyobjc-framework-localauthentication=7.2=pypi_0
pyobjc-framework-mapkit=7.2=pypi_0
pyobjc-framework-mediaaccessibility=7.2=pypi_0
pyobjc-framework-medialibrary=7.2=pypi_0
pyobjc-framework-mediaplayer=7.2=pypi_0
pyobjc-framework-mediatoolbox=7.2=pypi_0
pyobjc-framework-metal=7.2=pypi_0
pyobjc-framework-metalkit=7.2=pypi_0
pyobjc-framework-metalperformanceshaders=7.2=pypi_0
pyobjc-framework-metalperformanceshadersgraph=7.2=pypi_0
pyobjc-framework-mlcompute=7.2=pypi_0
pyobjc-framework-modelio=7.2=pypi_0
pyobjc-framework-multipeerconnectivity=7.2=pypi_0
pyobjc-framework-naturallanguage=7.2=pypi_0
pyobjc-framework-netfs=7.2=pypi_0
pyobjc-framework-network=7.2=pypi_0
pyobjc-framework-networkextension=7.2=pypi_0
pyobjc-framework-notificationcenter=7.2=pypi_0
pyobjc-framework-opendirectory=7.2=pypi_0
pyobjc-framework-osakit=7.2=pypi_0
pyobjc-framework-oslog=7.2=pypi_0
pyobjc-framework-passkit=7.2=pypi_0
pyobjc-framework-pencilkit=7.2=pypi_0
pyobjc-framework-photos=7.2=pypi_0
pyobjc-framework-photosui=7.2=pypi_0
pyobjc-framework-preferencepanes=7.2=pypi_0
pyobjc-framework-pushkit=7.2=pypi_0
pyobjc-framework-quartz=7.2=pypi_0
pyobjc-framework-quicklookthumbnailing=7.2=pypi_0
pyobjc-framework-replaykit=7.2=pypi_0
pyobjc-framework-safariservices=7.2=pypi_0
pyobjc-framework-scenekit=7.2=pypi_0
pyobjc-framework-screensaver=7.2=pypi_0
pyobjc-framework-screentime=7.2=pypi_0
pyobjc-framework-scriptingbridge=7.2=pypi_0
pyobjc-framework-searchkit=7.2=pypi_0
pyobjc-framework-security=7.2=pypi_0
pyobjc-framework-securityfoundation=7.2=pypi_0
pyobjc-framework-securityinterface=7.2=pypi_0
pyobjc-framework-servicemanagement=7.2=pypi_0
pyobjc-framework-social=7.2=pypi_0
pyobjc-framework-soundanalysis=7.2=pypi_0
pyobjc-framework-speech=7.2=pypi_0
pyobjc-framework-spritekit=7.2=pypi_0
pyobjc-framework-storekit=7.2=pypi_0
pyobjc-framework-syncservices=7.2=pypi_0
pyobjc-framework-systemconfiguration=7.2=pypi_0
pyobjc-framework-systemextensions=7.2=pypi_0
pyobjc-framework-uniformtypeidentifiers=7.2=pypi_0
pyobjc-framework-usernotifications=7.2=pypi_0
pyobjc-framework-usernotificationsui=7.2=pypi_0
pyobjc-framework-videosubscriberaccount=7.2=pypi_0
pyobjc-framework-videotoolbox=7.2=pypi_0
pyobjc-framework-virtualization=7.2=pypi_0
pyobjc-framework-vision=7.2=pypi_0
pyobjc-framework-webkit=7.2=pypi_0
pyopenssl=20.0.1=pyhd8ed1ab_0
pyparsing=2.4.7=pyh9f0ad1d_0
pyrsistent=0.17.3=py39hcbf5805_2
pysocks=1.7.1=py39h6e9494a_3
python=3.9.2=h88f2d9e_0
python-dateutil=2.8.1=pyhd3eb1b0_0
python-utils=2.5.6=pyh44b312d_0
python_abi=3.9=1_cp39
pyttsx3=2.90=pypi_0
pytz=2021.1=pyhd3eb1b0_0
pyzmq=20.0.0=py39h23ab428_1
readline=8.1=h9ed2024_0
regex=2021.4.4=py39h89e85a6_0
requests=2.25.1=pyhd3deb0d_0
sacremoses=0.0.43=pyh9f0ad1d_0
send2trash=1.5.0=py_0
setuptools=52.0.0=py39hecd8cb5_0
six=1.15.0=py39hecd8cb5_0
sniffio=1.2.0=py39h6e9494a_1
sqlite=3.33.0=hffcf06c_0
terminado=0.9.3=py39h6e9494a_0
testpath=0.4.4=py_0
tk=8.6.10=hb0a8c7a_0
tokenizers=0.10.1=py39h6561821_0
tornado=6.1=py39hcbf5805_1
tqdm=4.60.0=pyhd8ed1ab_0
traitlets=5.0.5=py_0
transformers=4.5.1=pyhd8ed1ab_0
tzdata=2020f=h52ac0ba_0
urllib3=1.26.4=pyhd8ed1ab_0
wcwidth=0.2.5=pyh9f0ad1d_2
webencodings=0.5.1=py_1
wheel=0.36.2=pyhd3eb1b0_0
xz=5.2.5=h1de35cc_0
zeromq=4.3.4=h23ab428_0
zipp=3.4.1=pyhd8ed1ab_0
zlib=1.2.11=h1de35cc_3
